html {
    padding: 0;
}

body {
    background-color: #0a1017;
    display: block;
    width: 100%;
    height: max-content;
    position: absolute;
}

body::after {
    content: "";
    background: url(../images/iceland.jpg) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

nav,
footer {
    width: 100%;
}

footer {
    background-color: #0a1017;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
}

ul p {
    text-align: justify;
    color: black;
    font-size: 16px;
}

.list-group-item p {
    margin-left: 0%;
    margin-right: 0%;
    text-indent: 0rem;
}

ul {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0;
}

a {
    padding: 0;
}

h1 {
    font-size: 50px;
}

strong {
    font-size: 30px;
}

#banner {
    margin-top: 2%;
}

#titulo_banner {
    font-size: 100%;
}

#conteudo {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

#cartao1 {
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10%;
}

#contatos {
    color: #0CFFE1;
}

#sobre-mim {
    padding-top: 5%;
    margin-bottom: 7%;
    text-align: justify;
}

.navbar-custom {
    background-color: #0a1017;
}

.textoAnimacao::after {
    content: '|';
    color: #0CFFE1;
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

#contatos a {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#contatos img,
#conteudo img {
    border-radius: 25px;
}

.btn-link,
.btn,
h5 {
    text-decoration: none;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 75%;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-inner img{
    border-radius: 75%;
    width: 150px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Style the back side */
.flip-card-back {
    color: white;
    border-radius: 75%;
    transform: rotateY(180deg);
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.glitch {
    text-transform: uppercase;
    position: relative;
    text-shadow:
        0.05em 0 0 rgb(255, 0, 0, .75),
        0.025em 0.05em 0 rgb(0, 255, 0, .75),
        0.025em 0.05em 0 rgb(0, 0, 255, .75);
    animation: glitch 370ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow:
            0.05em 0 0 rgb(255, 0, 0, .75),
            -0.025em -0.05em 0 rgb(0, 255, 0, .75),
            0.025em 0.05em 0 rgb(0, 0, 255, .75);
    }

    14% {
        text-shadow:
            0.05em 0 0 rgb(255, 0, 0, .75),
            -0.025em 0.05em 0 rgb(0, 255, 0, .75),
            0.025em -0.05em 0 rgb(0, 0, 255, .75);
    }

    15% {
        text-shadow:
            -0.05em 0.025em 0 rgb(255, 0, 0, .75),
            0.025em -0.025em 0 rgb(0, 255, 0, .75),
            -0.05em 0.05em 0 rgb(0, 0, 255, .75);
    }

    49% {
        text-shadow:
            -0.05em -0.025em 0 rgb(255, 0, 0, .75),
            0.025em 0.025em 0 rgb(0, 255, 0, .75),
            0.05em -0.05em 0 rgb(0, 0, 255, .75);
    }

    50% {
        text-shadow:
            -0.025em -0.05em 0 rgb(255, 0, 0, .75),
            -0.05em 0 0 rgb(0, 255, 0, .75),
            0 -0.05em 0 rgb(0, 0, 255, .75);
    }

    99% {
        text-shadow:
            0.025em 0.05em 0 rgb(255, 0, 0, .75),
            -0.05em 0 0 rgb(0, 255, 0, .75),
            0 -0.05em 0 rgb(0, 0, 255, .75);
    }

    100% {
        text-shadow:
            0.025em 0 0 rgb(255, 0, 0, .75),
            -0.025em -0.025em 0 rgb(0, 255, 0, .75),
            -0.025em -0.05em 0 rgb(0, 0, 255, .75);
    }
}

/*Largura - Deitado*/
@media screen and (max-width: 1080px) {

    h1 {
        font-size: 50px;
    }

    strong {
        font-size: 30px;
    }

    p {
        font-size: 16px;
        text-align: justify;
    }

    footer {
        width: 100%;
        height: 100;
    }

    #avatar {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 130px;
    }

    #cartao1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .flip-card{
        margin-top: 4%;
    } 

}

/*Em Pé*/
@media screen and (max-width: 680px) {

    h1 {
        font-size: 24px;
    }

    strong {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        text-align: justify;
    }

    footer {
        width: 100%;
        margin: 0;
    }

    #cartao1 {
        padding-bottom: 4rem;
    }

    #banner {
        margin-left: 10%;
        margin-right: 10%;
    }

    .flip-card{
        margin-top: 4%;
    } 
}